.mixin.out/
att-debug/
backups/
backups/
xaeroworldmap.txt.backup*
xaeroworldmap-common.txt.backup*
xaerominimap-common.txt.backup*
coremods/
crash-reports/
CustomSkinLoader/
data/
Distant_Horizons_server_data/
ESM/
etched-sounds/
exposures/
local/
logs/
map exports/
mod_data/
moddata/
modernfix/
moonlight-global-datapacks/
patchouli_books/
saves/
schematics/
screenshots/
server-resource-packs/
texturepacks/
xaero/
XaeroWaypoints_*/
cherishedworlds-favorites.dat
emi.json
fabricloader.log
servers.dat
servers.dat_old
usercache.json
usernamecache.json
mods/